# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd 
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
cars1= pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv",sep=",")
cars2= pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv",sep=",")
cars1.T

,0,1,2,3,4,5,6,7,8,9,...,188,189,190,191,192,193,194,195,196,197
mpg,18.0,15.0,18.0,16.0,17.0,15.0,14.0,14.0,14.0,15.0,...,16.0,15.5,14.5,22.0,22.0,24.0,22.5,29.0,24.5,29.0
cylinders,8,8,8,8,8,8,8,8,8,8,...,8,8,8,6,6,6,6,4,4,4
displacement,307,350,318,304,302,429,454,440,455,390,...,318,304,351,225,250,200,232,85,98,90
horsepower,130,165,150,150,140,198,220,215,225,190,...,150,120,152,100,105,81,90,52,60,70
weight,3504,3693,3436,3433,3449,4341,4354,4312,4425,3850,...,4190,3962,4215,3233,3353,3012,3085,2035,2164,1937
acceleration,12.0,11.5,11.0,12.0,10.5,10.0,9.0,8.5,10.0,8.5,...,13.0,13.9,12.8,15.4,14.5,17.6,17.6,22.2,22.1,14.2
model,70,70,70,70,70,70,70,70,70,70,...,76,76,76,76,76,76,76,76,76,76
origin,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,2
car,chevrolet chevelle malibu,buick skylark 320,plymouth satellite,amc rebel sst,ford torino,ford galaxie 500,chevrolet impala,plymouth fury iii,pontiac catalina,amc ambassador dpl,...,dodge coronet brougham,amc matador,ford gran torino,plymouth valiant,chevrolet nova,ford maverick,amc hornet,chevrolet chevette,chevrolet woody,vw rabbit
Unnamed: 9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
cars2.T

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
mpg,33.0,20.0,18.0,18.5,17.5,29.5,32.0,28.0,26.5,20.0,...,26.0,22.0,32.0,36.0,27.0,27.0,44.0,32.0,28.0,31.0
cylinders,4,6,6,6,6,4,4,4,4,4,...,4,6,4,4,4,4,4,4,4,4
displacement,91,225,250,250,258,97,85,97,140,130,...,156,232,144,135,151,140,97,135,120,119
horsepower,53,100,78,110,95,71,70,75,72,102,...,92,112,96,84,90,86,52,84,79,82
weight,1795,3651,3574,3645,3193,1825,1990,2155,2565,3150,...,2585,2835,2665,2370,2950,2790,2130,2295,2625,2720
acceleration,17.4,17.7,21.0,16.2,17.8,12.2,17.0,16.4,13.6,15.7,...,14.5,14.7,13.9,13.0,17.3,15.6,24.6,11.6,18.6,19.4
model,76,76,76,76,76,76,76,76,76,76,...,82,82,82,82,82,82,82,82,82,82
origin,3,1,1,1,1,2,3,3,1,2,...,1,1,3,1,1,1,2,1,1,1
car,honda civic,dodge aspen se,ford granada ghia,pontiac ventura sj,amc pacer d/l,volkswagen rabbit,datsun b-210,toyota corolla,ford pinto,volvo 245,...,chrysler lebaron medallion,ford granada l,toyota celica gt,dodge charger 2.2,chevrolet camaro,ford mustang gl,vw pickup,dodge rampage,ford ranger,chevy s-10

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [4]:
cars1.drop(['Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'], axis=1, inplace=True)

#

In [5]:
cars1.T

,0,1,2,3,4,5,6,7,8,9,...,188,189,190,191,192,193,194,195,196,197
mpg,18.0,15.0,18.0,16.0,17.0,15.0,14.0,14.0,14.0,15.0,...,16.0,15.5,14.5,22.0,22.0,24.0,22.5,29.0,24.5,29.0
cylinders,8,8,8,8,8,8,8,8,8,8,...,8,8,8,6,6,6,6,4,4,4
displacement,307,350,318,304,302,429,454,440,455,390,...,318,304,351,225,250,200,232,85,98,90
horsepower,130,165,150,150,140,198,220,215,225,190,...,150,120,152,100,105,81,90,52,60,70
weight,3504,3693,3436,3433,3449,4341,4354,4312,4425,3850,...,4190,3962,4215,3233,3353,3012,3085,2035,2164,1937
acceleration,12.0,11.5,11.0,12.0,10.5,10.0,9.0,8.5,10.0,8.5,...,13.0,13.9,12.8,15.4,14.5,17.6,17.6,22.2,22.1,14.2
model,70,70,70,70,70,70,70,70,70,70,...,76,76,76,76,76,76,76,76,76,76
origin,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,2
car,chevrolet chevelle malibu,buick skylark 320,plymouth satellite,amc rebel sst,ford torino,ford galaxie 500,chevrolet impala,plymouth fury iii,pontiac catalina,amc ambassador dpl,...,dodge coronet brougham,amc matador,ford gran torino,plymouth valiant,chevrolet nova,ford maverick,amc hornet,chevrolet chevette,chevrolet woody,vw rabbit

### Step 5. What is the number of observations in each dataset?

In [6]:
cars1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           198 non-null    float64
 1   cylinders     198 non-null    int64
 2   displacement  198 non-null    int64
 3   horsepower    198 non-null    object
 4   weight        198 non-null    int64
 5   acceleration  198 non-null    float64
 6   model         198 non-null    int64
 7   origin        198 non-null    int64
 8   car           198 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.0+ KB

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [7]:
cars1.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car'],
      dtype='object')

In [8]:
cars2.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car'],
      dtype='object')

In [9]:
cars = pd.concat([cars1, cars2], ignore_index=True)

In [10]:
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97,52,2130,24.6,82,2,vw pickup
395,32.0,4,135,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120,79,2625,18.6,82,1,ford ranger
397,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [13]:
cars['owners'] = np.random.randint(15000,72000, size=398)

,0,1,2,3,4,5,6,7,8,9,...,388,389,390,391,392,393,394,395,396,397
mpg,18.0,15.0,18.0,16.0,17.0,15.0,14.0,14.0,14.0,15.0,...,26.0,22.0,32.0,36.0,27.0,27.0,44.0,32.0,28.0,31.0
cylinders,8,8,8,8,8,8,8,8,8,8,...,4,6,4,4,4,4,4,4,4,4
displacement,307,350,318,304,302,429,454,440,455,390,...,156,232,144,135,151,140,97,135,120,119
horsepower,130,165,150,150,140,198,220,215,225,190,...,92,112,96,84,90,86,52,84,79,82
weight,3504,3693,3436,3433,3449,4341,4354,4312,4425,3850,...,2585,2835,2665,2370,2950,2790,2130,2295,2625,2720
acceleration,12.0,11.5,11.0,12.0,10.5,10.0,9.0,8.5,10.0,8.5,...,14.5,14.7,13.9,13.0,17.3,15.6,24.6,11.6,18.6,19.4
model,70,70,70,70,70,70,70,70,70,70,...,82,82,82,82,82,82,82,82,82,82
origin,1,1,1,1,1,1,1,1,1,1,...,1,1,3,1,1,1,2,1,1,1
car,chevrolet chevelle malibu,buick skylark 320,plymouth satellite,amc rebel sst,ford torino,ford galaxie 500,chevrolet impala,plymouth fury iii,pontiac catalina,amc ambassador dpl,...,chrysler lebaron medallion,ford granada l,toyota celica gt,dodge charger 2.2,chevrolet camaro,ford mustang gl,vw pickup,dodge rampage,ford ranger,chevy s-10
owners,44414,61763,29855,42142,65472,62212,34972,59631,18247,54184,...,61232,62983,66850,62794,16420,61557,17203,16515,67593,62269

### Step 8. Add the column owners to cars

In [14]:
cars.T

,0,1,2,3,4,5,6,7,8,9,...,388,389,390,391,392,393,394,395,396,397
mpg,18.0,15.0,18.0,16.0,17.0,15.0,14.0,14.0,14.0,15.0,...,26.0,22.0,32.0,36.0,27.0,27.0,44.0,32.0,28.0,31.0
cylinders,8,8,8,8,8,8,8,8,8,8,...,4,6,4,4,4,4,4,4,4,4
displacement,307,350,318,304,302,429,454,440,455,390,...,156,232,144,135,151,140,97,135,120,119
horsepower,130,165,150,150,140,198,220,215,225,190,...,92,112,96,84,90,86,52,84,79,82
weight,3504,3693,3436,3433,3449,4341,4354,4312,4425,3850,...,2585,2835,2665,2370,2950,2790,2130,2295,2625,2720
acceleration,12.0,11.5,11.0,12.0,10.5,10.0,9.0,8.5,10.0,8.5,...,14.5,14.7,13.9,13.0,17.3,15.6,24.6,11.6,18.6,19.4
model,70,70,70,70,70,70,70,70,70,70,...,82,82,82,82,82,82,82,82,82,82
origin,1,1,1,1,1,1,1,1,1,1,...,1,1,3,1,1,1,2,1,1,1
car,chevrolet chevelle malibu,buick skylark 320,plymouth satellite,amc rebel sst,ford torino,ford galaxie 500,chevrolet impala,plymouth fury iii,pontiac catalina,amc ambassador dpl,...,chrysler lebaron medallion,ford granada l,toyota celica gt,dodge charger 2.2,chevrolet camaro,ford mustang gl,vw pickup,dodge rampage,ford ranger,chevy s-10
owners,44414,61763,29855,42142,65472,62212,34972,59631,18247,54184,...,61232,62983,66850,62794,16420,61557,17203,16515,67593,62269